 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 



.Main {
    display: flex;
    border-style: solid;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    /* margin: 3rem; */
    padding:20px;
    /* box-shadow: 0 0 40px white; */
    border-radius: 10px;
    /* background-color: rgb(206, 248, 206); */

}

.Top {
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

.replies {
    margin-left: 5rem;
    
}

.xbutton {
 padding: 1%;
 font-weight: bold;
 color: black;
 outline: none;
 background: red;
}

.form_input {
 display: block;
 width: 50%; 
 padding: 1rem;
 box-sizing: border-box;
 border-radius: 2px;
 outline: none;
}